@page
@model EmployeeManagememt.Pages.NotFoundModel
@{
    ViewData["Title"] = "NotFound";
}

<h1>The Resource You are Looking for Cannot be found</h1>
<a asp-page="/Employees/Index" class="btn btn-primary"> Click here  to go back Home</a>
